<div class="pin">
<!-- CONTAINS DATE -->
    <div class="date-container">
        <hr class="hr date-hr" />
        <div class="timestamp">MM/DD/YY</div>
        <hr class="hr date-hr" />
    </div>
    <!-- CONTAINS CARD -->
    <div class="card-container">
        <div class="card">
            <div class="card-body was-validated">
                <div class="card-top-section">
                    <!-- DISPLAY PIN TITLE -->
                    <div class="card-title">Placeholder</div>
                    <!-- Actions should have confirmation required -->
                    <div class="card-icon-section">
                    <!-- PIN ICON -->
                    <i class="bi bi-pin-angle card-icon"></i>
                    </div>
                </div>
                <hr class="hr card-hr" />
                <!-- CARD TEXT -->
                <p claFss="card-text">Placeholder</p>          
            </div>
        </div>
    </div>
</div>