<html lang="en">
  <head>
    <title>Document</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
    />

    <link href="../../public/css/reset.css" rel="stylesheet" />
    <link href="../../public/css/modal.css" rel="stylesheet" />
    <link href="../../public/css/style.css" rel="stylesheet" />
    <link href="../../public/css/landing-page.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <!-- NAVBAR / goes in main.handlebars -->
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
          <a class="navbar-brand font-test text-center" href="#">WEBSITE</a>
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
          <!-- classes and data-signin can be transferred to any buttons -->
          <a class="js-signin-modal-trigger btn btn-light login-nav-Btn" href="#0" data-signin="login">Log in</a>
          <a class="js-signin-modal-trigger btn btn-light login-nav-Btn" href="#0" data-signin="signup">Sign up</a>
          	<!-- insert more links here -->
            <a class="nav-item nav-link active" href="/">
              <!-- HOME ICON / navigates to personal_page.handlebars -->
              <i class="bi bi-house-fill navIcon"></i>
            </a>
            <a class="nav-item nav-link active" href="/discover">
              <!-- DISCOVER ICON / navigates to discover_page.handlebars -->
              <i class="bi bi-compass navIcon"></i>
            </a>
            <a class="nav-item nav-link active" href="user/{{user.id}}">
              <!-- PROFILE ICON / navigates to edit_profile.handlebars -->
              <i class="bi bi-person-circle navIcon"></i>
            </a>
            <a class="nav-item nav-link active" href="#">
              <!-- SETTINGS ICON / pops up site settings modal (covers minor site settings like darkmode) -->
              <i class="bi bi-gear-fill navIcon"></i>
            </a>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <!-- MAIN CONTENT -->
    <div class="banner">
      <img src="../../public/images/placeholderbanner.jpg" alt="Banner Image">
      <div class="card-img-overlay signin-overlay-blurb">
        <span class="banner-text-blurb">Start planning for your <br>next adventure today<br></span>
      </div>
      <div class="card-img-overlay signin-overlay" style="height: 150px">
        <a class="js-signin-modal-trigger btn btn-light signin-banner-btn" href="#0" data-signin="login">Log in</a>
        <span class="banner-text">or</span>
        <a class="js-signin-modal-trigger btn btn-light signin-banner-btn" href="#0" data-signin="signup">Sign up</a>
      </div>
    </div>
    <div class="discover">Discover what's out there</div>
    <a href="" class="card-link-wrapper">
      <div class="card-container">
        <div class="card" style="width: 18rem;">
          <div class="card bg-dark text-white" style="max-width: 600px;">
            <img src="../../public/images/card1.jpg" class="card-img card-img-top" alt="Sicily, Italy"/>
            <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.2)">
              <h5 class="card-title location-text">Sicily, Italy</h5>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text"><i class="bi bi-person-circle card-icon"></i>Example text</p>
            <hr class="hr" />
            <p class="card-text"><i class="bi bi-person-circle card-icon"></i>Example text</p>
            <hr class="hr" />
            <p class="card-text"><i class="bi bi-person-circle card-icon"></i>Example text</p>
            <hr class="hr" />
            <p class="card-text"><i class="bi bi-person-circle card-icon"></i>Example text</p>
            <hr class="hr" />
            <p class="card-text"><i class="bi bi-person-circle card-icon"></i>Example text</p>
            <!-- <div class="button-container">
              <a href="#" class="btn btn-primary card-btn">Discover</a>
            </div> -->
          </div>
        </div>
            </a>
        <a href="" class="card-link-wrapper">
          <div class="card" style="width: 18rem;">
            <div class="card bg-dark text-white" style="max-width: 600px;">
              <img src="../../public/images/card2.jpg" class="card-img card-img-top" alt="Sicily, Italy"/>
              <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.2)">
                <h5 class="card-title location-text">Sicily, Italy</h5>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text"><i class="bi bi-person-circle card-icon"></i>Example text</p>
              <hr class="hr" />
              <p class="card-text"><i class="bi bi-person-circle card-icon"></i>Example text</p>
              <hr class="hr" />
              <p class="card-text"><i class="bi bi-person-circle card-icon"></i>Example text</p>
              <hr class="hr" />
              <p class="card-text"><i class="bi bi-person-circle card-icon"></i>Example text</p>
              <hr class="hr" />
              <p class="card-text"><i class="bi bi-person-circle card-icon"></i>Example text</p>
              <!-- <div class="button-container">
                <a href="#" class="btn btn-primary card-btn">Discover</a>
              </div> -->
            </div>
          </div>
        </a>
        <a href="" class="card-link-wrapper">
          <div class="card" style="width: 18rem;">
            <div class="card bg-dark text-white" style="max-width: 600px;">
              <img src="../../public/images/card3.jpg" class="card-img card-img-top" alt="Sicily, Italy"/>
              <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.2)">
                <h5 class="card-title location-text">Tokyo, Japan</h5>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text"><i class="bi bi-person-circle card-icon"></i>Example text</p>
              <hr class="hr" />
              <p class="card-text"><i class="bi bi-person-circle card-icon"></i>Example text</p>
              <hr class="hr" />
              <p class="card-text"><i class="bi bi-person-circle card-icon"></i>Example text</p>
              <hr class="hr" />
              <p class="card-text"><i class="bi bi-person-circle card-icon"></i>Example text</p>
              <hr class="hr" />
              <p class="card-text"><i class="bi bi-person-circle card-icon"></i>Example text</p>
              <!-- <div class="button-container">
                <a href="#" class="btn btn-primary card-btn">Discover</a>
              </div> -->
            </div>
          </div>
        </a>
      </div>
    </div>

    </main>
    <footer class="text-center text-lg-start bg-light text-muted">
      <!-- SOCIAL MEDIA / can be eschewed but the block before the footer looks nice -->
      <section
        class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
      >
        <!-- GET CONNECTED WITH US -->
        <div class="me-5 d-none d-lg-block">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- EXAMPLE SOCIAL MEDIA ICONS / formatted to the right side of the page, if we use them -->
        <div>
          <a href="https://github.com/JDempe/project2" class="me-4 text-reset">
            <i class="bi bi-github"></i>
          </a>
        </div>
        </section>
        <!-- The big section Website description / links / contact  -->
        <div class="container text-center text-md-start mt-5">
          <div class="row mt-3">
            <!-- Website name / blurb section -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                    <i class="bi bi-gem footer-gem"></i>
                    Website Name
                </h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Dolorum aliquid odit, nihil recusandae maxime minima cum et? 
                    Cupiditate, debitis quo aut odio itaque amet fuga nobis dolor. 
                    Blanditiis, cumque ab. We'll put a short blurb for our website here.
                </p>
            </div>
            <!-- First link column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                    <i class="bi bi-link-45deg"></i>
                    Technology
                </h6>
                <p>
                    <a href="https://getbootstrap.com/" target="_blank" class="text-reset">
                      Bootstrap
                    </a>
                </p>
                <p>
                    <a href="https://jquery.com/" target="_blank" class="text-reset">
                      jQuery
                    </a>
                </p>
                <p>
                    <a href="https://www.npmjs.com/package/nodemon" target="_blank" class="text-reset">
                      Node
                    </a>
                </p>
                <p>
                    <a href="https://nodejs.org/en" target="_blank" class="text-reset">
                      Nodemon
                    </a>
                </p>
                <p>
                    <a href="https://expressjs.com/" target="_blank" class="text-reset">
                      Express
                    </a>
                </p>
                <p>
                    <a href="https://www.npmjs.com/package/express-session" target="_blank" class="text-reset">
                      Express-Session
                    </a>
                </p>
            </div>
            <!-- Second link column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                    <i class="bi bi-link-45deg"></i>
                    Continued
                </h6>
                <p>
                    <a href="https://www.npmjs.com/package/bcrypt" target="_blank" class="text-reset">
                      bcrypt
                    </a>
                </p>
                <p>
                    <a href="https://handlebarsjs.com/" target="_blank" class="text-reset">
                      Handlebars
                    </a>
                </p>
                <p>
                    <a href="https://www.npmjs.com/package/express-handlebars" target="_blank" class="text-reset">
                      Express-Handlebars
                    </a>
                </p>
                <p>
                  <a href="https://www.mysql.com/" target="_blank" class="text-reset">
                      MySQL
                  </a>
                </p>
                <p>
                    <a href="https://sequelize.org/" target="_blank" class="text-reset">
                      Sequelize
                    </a>
                </p>
                <p>
                    <a href="https://www.npmjs.com/package/connect-session-sequelize" target="_blank" class="text-reset">
                      Connect-Session-Sequelize
                    </a>
                </p>
            </div>
            <!-- Contact link column / links to github profiles -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                    <i class="bi bi-github footer-contact-github"></i>
                    Contact
                </h6>
                  <p>
                    <a href="https://github.com/JDempe" target="_blank" class="text-reset">
                        JDempe
                    </a>
                  </p>
                  <p>
                    <a href="https://github.com/UserOlena" target="_blank" class="text-reset">
                        UserOlena
                    </a>
                  </p>
                  <p>
                    <a href="https://github.com/Kevrev" target="_blank" class="text-reset">
                        Kevrev
                    </a>
                  </p>
                  <p>
                    <a href="https://github.com/jenryt" target="_blank" class="text-reset">
                        jenryt
                    </a>
                  </p>
                  <p>
                    <a href="https://github.com/bbandhu" target="_blank" class="text-reset">
                        bbandhu
                    </a>
                  </p>
            </div>
          </div>
        </div>
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2023 Copyright:
            <a class="text-reset fw-bold" href="">Website Name</a>
        </div>
        <!-- Copyright -->
    </footer>

    <!-- {{! MODAL STUFF }} -->
    <!-- Modal -->
    <!-- {{!-- Provide by https://codyhouse.co/gem/loginsignup-modal-window/ --}} -->
    <div class="body-modal cd-signin-modal js-signin-modal">
      <!-- this is the entire modal form, including the background -->
      <div class="cd-signin-modal__container">
        <!-- this is the container wrapper -->
        <ul
          class="cd-signin-modal__switcher js-signin-modal-switcher js-signin-modal-trigger" style="list-style-type: none"
        >
          <li><a href="#0" data-signin="login"  data-type="login">Sign in</a></li>
          <li><a href="#0" data-signin="signup" data-type="signup">New account</a></li>
        </ul>

        <div
          class="cd-signin-modal__block js-signin-modal-block"
          data-type="login"
        >
          <!-- log in form -->
          <form class="cd-signin-modal__form">
            <p class="cd-signin-modal__fieldset">
              <label
                class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace"
                for="signin-email"
              >E-mail</label>
              <input
                class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                id="signin-email"
                type="email"
                placeholder="E-mail"
              />
              <span class="cd-signin-modal__error">Enter a valid email!</span>
            </p>

            <p class="cd-signin-modal__fieldset">
              <label
                class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace"
                for="signin-password"
              >Password</label>
              <input
                class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                id="signin-password"
                type="text"
                placeholder="Password"
              />
              <a
                href="#0"
                class="cd-signin-modal__hide-password js-hide-password"
              >Hide</a>
              <span class="cd-signin-modal__error">Enter a valid password!</span>
            </p>

            <p class="cd-signin-modal__fieldset">
              <input
                type="checkbox"
                id="remember-me"
                checked
                class="cd-signin-modal__input"
              />
              <label for="remember-me">Remember me</label>
            </p>

            <p class="cd-signin-modal__fieldset">
              <input
                class="cd-signin-modal__input cd-signin-modal__input--full-width"
                type="submit"
                value="Login"
              />
            </p>
          </form>

          <p class="cd-signin-modal__bottom-message js-signin-modal-trigger"><a
              href="#0"
              data-signin="reset"
            >Forgot your password?</a></p>
        </div>
        <!-- cd-signin-modal__block -->

        <div
          class="cd-signin-modal__block js-signin-modal-block"
          data-type="signup"
        >
          <!-- sign up form -->
          <form class="cd-signin-modal__form">
            <p class="cd-signin-modal__fieldset">
              <label
                class="cd-signin-modal__label cd-signin-modal__label--username cd-signin-modal__label--image-replace"
                for="signup-username"
              >Username</label>
              <input
                class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                id="signup-username"
                type="text"
                placeholder="Username"
              />
              <span class="cd-signin-modal__error">Error message here!</span>
            </p>

            <p class="cd-signin-modal__fieldset">
              <label
                class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace"
                for="signup-email"
              >E-mail</label>
              <input
                class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                id="signup-email"
                type="email"
                placeholder="E-mail"
              />
              <span class="cd-signin-modal__error">Error message here!</span>
            </p>

            <p class="cd-signin-modal__fieldset">
              <label
                class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace"
                for="signup-password"
              >Password</label>
              <input
                class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                id="signup-password"
                type="text"
                placeholder="Password"
              />
              <a
                href="#0"
                class="cd-signin-modal__hide-password js-hide-password"
              >Hide</a>
              <span class="cd-signin-modal__error">Error message here!</span>
            </p>

            <p class="cd-signin-modal__fieldset">
              <input
                type="checkbox"
                id="accept-terms"
                class="cd-signin-modal__input"
              />
              <label for="accept-terms">I agree to the
                <a href="#0">Terms</a></label>
            </p>

            <p class="cd-signin-modal__fieldset">
              <input
                class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding"
                type="submit"
                value="Create account"
              />
            </p>
          </form>
        </div>
        <!-- cd-signin-modal__block -->

        <div
          class="cd-signin-modal__block js-signin-modal-block"
          data-type="reset"
        >
          <!-- reset password form -->
          <p class="cd-signin-modal__message">Lost your password? Please enter
            your email address. You will receive a link to create a new
            password.</p>

          <form class="cd-signin-modal__form">
            <p class="cd-signin-modal__fieldset">
              <label
                class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace"
                for="reset-email"
              >E-mail</label>
              <input
                class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                id="reset-email"
                type="email"
                placeholder="E-mail"
              />
              <span class="cd-signin-modal__error">Error message here!</span>
            </p>

            <p class="cd-signin-modal__fieldset">
              <input
                class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding"
                type="submit"
                value="Reset password"
              />
            </p>
          </form>

          <p class="cd-signin-modal__bottom-message js-signin-modal-trigger"><a
              href="#0"
              data-signin="login"
            >Back to log-in</a></p>
        </div>
        <!-- cd-signin-modal__block -->
        <a href="#0" class="cd-signin-modal__close js-close">Close</a>
      </div>
      <!-- cd-signin-modal__container -->
    </div>
    <!-- cd-signin-modal -->

  </body>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
  ></script>
  <script src="../../public/js/modal.js"></script>

</html>