<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project 2</title>
    {{! <link rel="stylesheet" type="text/css" href="/css/jass.css"> }}
    {{! <link rel="stylesheet" type="text/css" href="/css/style.css"> }}
  </head>

  <header>
    <h1>navbar here</h1>
  </header>
  <body>
    {{{body}}}
  </body>
  <footer>
    <h1>footer here</h1>
  </footer>

</html>