      <!-- MAIN CONTENT -->
    <div class="banner">
      <img src="./images/placeholder/placeholderbanner.jpg" alt="Banner Image">
      <div class="card-img-overlay signin-overlay-blurb">
        <span class="banner-text-blurb">Start planning for your <br>next adventure today<br></span>
      </div>  
      <div class="card-img-overlay signin-overlay" style="height: 150px">
        <a class="js-signin-modal-trigger btn btn-light signin-banner-btn" href="#0">Discover</a>
        {{!-- <a class="js-signin-modal-trigger btn btn-light signin-banner-btn" href="#0" data-signin="login">Log in</a>
        <span class="banner-text">or</span>
        <a class="js-signin-modal-trigger btn btn-light signin-banner-btn" href="#0" data-signin="signup">Sign up</a> --}}
      </div>
    </div>
    <div class="discover">Discover what's out there</div>
    <a href="" class="card-link-wrapper hvr-grow">
      <div class="card-container">
        <div class="card" style="width: 18rem;">
          <div class="card bg-dark text-white" style="max-width: 600px;">
            <img src="./images/placeholder/card1.jpg" class="card-img card-img-top" alt="Paris, France"/>
            <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.2)">
              <h5 class="card-title location-text">Sicily, Italy</h5>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text"><i class="bi bi-person-circle card-icon"></i>Example text</p>
            <hr class="hr" />
            <p class="card-text"><i class="bi bi-person-circle card-icon"></i>Example text</p>
            <hr class="hr" />
            <p class="card-text"><i class="bi bi-person-circle card-icon"></i>Example text</p>
            <hr class="hr" />
            <p class="card-text"><i class="bi bi-person-circle card-icon"></i>Example text</p>
            <hr class="hr" />
            <p class="card-text"><i class="bi bi-person-circle card-icon"></i>Example text</p>
            <!-- <div class="button-container">
              <a href="#" class="btn btn-primary card-btn">Discover</a>
            </div> -->
          </div>
        </div>
            </a>
        <a href="" class="card-link-wrapper hvr-grow">
          <div class="card" style="width: 18rem;">
            <div class="card bg-dark text-white" style="max-width: 600px;">
              <img src="./images/placeholder/card2.jpg" class="card-img card-img-top" alt="Sicily, Italy"/>
              <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.2)">
                <h5 class="card-title location-text">Sicily, Italy</h5>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text"><i class="bi bi-person-circle card-icon"></i>Example text</p>
              <hr class="hr" />
              <p class="card-text"><i class="bi bi-person-circle card-icon"></i>Example text</p>
              <hr class="hr" />
              <p class="card-text"><i class="bi bi-person-circle card-icon"></i>Example text</p>
              <hr class="hr" />
              <p class="card-text"><i class="bi bi-person-circle card-icon"></i>Example text</p>
              <hr class="hr" />
              <p class="card-text"><i class="bi bi-person-circle card-icon"></i>Example text</p>
              <!-- <div class="button-container">
                <a href="#" class="btn btn-primary card-btn">Discover</a>
              </div> -->
            </div>
          </div>
        </a>
        <a href="" class="card-link-wrapper hvr-grow">
          <div class="card" style="width: 18rem;">
            <div class="card bg-dark text-white" style="max-width: 600px;">
              <img src="./images/placeholder/card3.jpg" class="card-img card-img-top" alt="Tokyo, Japan"/>
              <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.2)">
                <h5 class="card-title location-text">Tokyo, Japan</h5>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text"><i class="bi bi-person-circle card-icon"></i>Example text</p>
              <hr class="hr" />
              <p class="card-text"><i class="bi bi-person-circle card-icon"></i>Example text</p>
              <hr class="hr" />
              <p class="card-text"><i class="bi bi-person-circle card-icon"></i>Example text</p>
              <hr class="hr" />
              <p class="card-text"><i class="bi bi-person-circle card-icon"></i>Example text</p>
              <hr class="hr" />
              <p class="card-text"><i class="bi bi-person-circle card-icon"></i>Example text</p>
              <!-- <div class="button-container">
                <a href="#" class="btn btn-primary card-btn">Discover</a>
              </div> -->
            </div>
          </div>
        </a>
      </div>
    </div>

    