:root {
  /* Light mode variables */
  --body-color: #F0EEF6;
  --navbar-background-blue: #6CB4F8;
  /* --navbar-background-blue: #2f583f; */
  --button-text: #FFFFFF;
  --button-hover-background-color: #ffffff;
  --button-hover-text-color: #000000;

  /* Dark mode variables */
  --body-color-dark: #3c3e52;
  --navbar-text-dark: #e7e9f0;
  --text-color-dark: #FFFFFF;
  --button-background-dark: #475567;
  --button-text-dark: #FFFFFF;
  --button-border-dark: #475567;
  --footer-background-dark: #35374a;
  --footer-text-dark: #e7e9f0;
  --discovery-page-text-dark: #d1d4dd
}

.create-container {
  display: flex;
  align-items: center; 
}

#create-new-pin {
  display: flex;
  align-items: center;
}

#create-new-pin i {
  margin-right: 5px; 
}


.create-search-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3rem 0 0.3rem 0;
  margin: 0 auto;
  max-width: 65%;
}

.bi-plus-square-fill {
  font-size: 2rem;
  color: #2887d9;
  cursor: pointer;
}

.bi-plus-square-fill:hover {
  color: #6eb1eb; /* Change the color when hovered */
}

.create-text {
  padding-left: 4px;
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 1.35rem;
  text-decoration: none;
  color: #626568;
}

.search-bar {
  width: 15rem;
}

.input-group-text {
  background-color: #ffffff00;
}

.no-results-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.no-results-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.no-results-container-noshow {
  display: none;
}

.no-results-shrug {
  font-family: sans-serif;
  font-size: 4.85rem;
  padding-bottom: 12x;
  color: #b2b5c0;
}

.no-results-text {
  font-family: "Hammersmith One", sans-serif;
  font-size: 2.65rem;
  font-style: italic;
  color: #b2b5c0;
}

/* card css */
.date-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.date-hr {
  display: inline-block;
  width: 30%;
  margin: 10px 0px;
  border: none;
  border-top: 1px solid #000;
}

.timestamp {
  display: inline-block;
  margin: 0 10px;
}

.card-container {
  padding: 0.5rem 0 1.5rem;
  display: flex;
  justify-content: space-around;
}
.card {
  width: 65%;
  border-radius: 16px;
  min-height: 50px;
}

.card-top-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.card input {
  border-width: 0;
}

.card input:focus {
  outline: none;
}

.card-title {
  margin-bottom: 0px;
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 2rem;
  color: #6e6c78;
  background-color: #197fd800;
}

.card-icon-section {
  display: flex;
}

.card-icon {
  margin: 0px 3.5px 0px 3.5px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #6e6c78;
}

.bi-check-square:hover {
  color: #43af65; /* Change the color when hovered */
}

.bi-pencil:hover {
  color: #5a7ce4; /* Change the color when hovered */
}

.bi-pin-angle:hover {
  color: #f09b4c; /* Change the color when hovered */
}

.bi-share:hover {
  color: #c784fd; /* Change the color when hovered */
}

.bi-trash:hover {
  color: #ef4747; /* Change the color when hovered */
}

.card-hr {
  margin: 4px 0 4px 0;
}

.card-text {
  font-family: "Source Sans Pro";
  color: #6e6c78;
}

.no-visibility {
  border: none;
  resize: none;
  background-color: transparent;
  box-shadow: none;
  outline-color: transparent;
  outline-style: none;
}

.no-visibility:focus {
  outline-color: transparent;
  outline-style: none;
  box-shadow: none;
}

.title-textarea {
  max-height: 3.5rem;
  width: 100%;
  resize: none;
  overflow: hidden;
}

.card-textarea {
  min-height: 2rem;
  width: 100%;
}

.changes-btn-container {
  display: flex;
  float: right;
  padding-top: 10px;
}

.save-btn {
  margin-right: 0.3rem;
  background-color: #2887d9;
}

.save-btn:hover {
  background-color: #6eb1eb;
  border-color: #6eb1eb;
}

.discard-btn {
}

.discard-btn:hover {
  background-color: #f97070;
  border-color: #f97070;
}

.save-btn,
.discard-btn {
  display: none;
  border-radius: 10px;
  font-family: "Source Sans Pro";
  font-weight: 600;
}

.nav-color {
  font-family: "Hammersmith One";
}

/* Turns off features while pin is in creation mode */
.create-pin-flag i{
 display: none !important;;
}

/* darkmode */

.darkmode.nav-color {
  color: #e7e9f0;
}

.darkmode.nav-color.active {
  color: #e7e9f0;
  background-color: #63709d;
  border-color: #63709d;
}

h6.darkmode {
  color: #e7e9f0;
}

.nav-tabs.darkmode {
  border-color: #5b6589;
}

.darkmode.card-icon {
  color: var(--discovery-page-text-dark);
}

.darkmode.bi-plus-square-fill {
  color: #6b7bb3;
}

.darkmode.bi-plus-square-fill:hover {
  color: #9fb1ec;
}

.darkmode.btn-refresh:active {
  background-color: #445177;
  border-color: #445177;
}

.darkmode.card-pin-color {
  background-color: #494a61;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
}


.darkmode.date-hr {
  border-color: #ffffff;
}

.darkmode.timestamp {
  color: var(--discovery-page-text-dark);
}

.darkmode.bi-pin {
  color:var(--discovery-page-text-dark);
}

.darkmode.card-title {
  color: var(--discovery-page-text-dark);
}

.darkmode.card-username {
  color: var(--discovery-page-text-dark);
}

.darkmode.card-location {
  color: #9fb1ec;
}

.darkmode.card-hr {
  border-color: white;
}
.darkmode.card-text {
  color: #c5c9d6;
}

.darkmode.create-text {
  color: #c5c9d6;
}

.darkmode.form-control {
  background-color: #494a61;
  border-color: #63709d;
  color: var(--discovery-page-text-dark)
}

.darkmode.form-control:focus {
  outline: none; 
  box-shadow: 0 0 5px #9fb1ec;
}

.darkmode.form-control::placeholder {
  color: var(--discovery-page-text-dark)
}

.darkmode.bi-search {
  color: var(--discovery-page-text-dark);
}