#user-profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  height: fit-content;
  background-color: #ffffff;
  border-radius: 4px;
}

#user-profile h2 {
  font-size: 2rem;
  padding: 10px 0px;
}

#editprofile-avatar {
  display: block;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}

#editprofile-form, #editsecurity-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  height: fit-content;
  background-color: #ffffff;
  border-radius: 4px;
}