/* div {
    border: 1px solid black;
} */

main #user-profile {
    display: flex;
    flex-direction: row;
    margin: 0 5%;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 4px;
}

body #user-profile {
    background-color: #F9F9F9;
}

